.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgba(66, 79, 98, 0.75);;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
  }
  .container p{
      font-size: 15px;
      font-family:  Arial, Helvetica, sans-serif;
      padding: 10px;
      color: white;
  }

  hr{
    height:2px;
    border-width:0;
    background: linear-gradient(187deg, rgba(0, 0, 0, 0.5) 6.15%, rgba(63, 64, 66, 0.5) 52.16%, rgba(135, 149, 170, 0.5) 52.17%, rgba(135, 149, 170, 0.5) 94.52%);

  }

  .imagecontainer img{
      margin: 10px;
      border-radius: 20px;
  }

  