.left{
    float: left;
    width: 20%;
}

.right{
    float: right;
    width: 80%;
}

.left img{
  padding: 1vw;
  display: block;
  width: 15vw;
  border-radius: 50%;
}

.signinbutton input[type=submit]{
    width: 100%;
    background-color:#EC524B;
    color: white;
    padding: 1.4vw 1vw;
    margin: 0.8vw 0;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
}

.createbutton input[type=submit]{
    width: 100%;
    background-color:#4682B4;
    color: white;
    padding: 1.4vw 1vw;
    margin: 0.8vw 0;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
}

